<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyecto_new_2025bus">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true"/>

        <activity android:name=".AdminActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:exported="true"/>

        <activity android:name=".RegistrarChoferActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:exported="true"/>

        <activity android:name=".RutaVaciaActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true"/>

    </application>

</manifest>
